.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}

.preloader svg {
  width: 128px;
  height: 128px;
}

.preloader svg path {
  animation: colorCycle 2s infinite;
}

@keyframes colorCycle {
  0%   { fill: white; stroke:white; }
  50%  { fill:#0f172a; stroke:#0f172a; }
  100% { fill: white; stroke:white; }
}